.container {
    height: 400px;
    width: 560px;
    /* background-color: red; */
    position: relative;
}

.container img {
    height: 400px;
    width: 560px;
}

.container .content {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.container .content h1 {
    color: #000;
    margin-top:30%;
    margin-left: 38%;
    font-size: 24px;
}

.container .content .event {
    color: #000;

    font-size: 14px;
    margin-top: 5.7%;
    margin-left: 46.5%;
    font-weight: bold;
}

.container .content .date {
    color: #000;

    margin-top: -2.5%;
    margin-left: 72.5%;
    font-size: 9px;
    font-weight: bold;
    font-style: italic;
}
